@model Omnichannel.Models.SUSIAssistlineInteraction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SUSIAssistlineInteraction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CallReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CallReason.CallReasonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubCategory.SubCategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FurtherDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FurtherDetail.FurtherDetailName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CallDriver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CallDriver.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InfoToAgent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InfoToAgent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QueryStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QueryStatus.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
